.error-wrapper{
    height: 21px !important;
}

.choices.is-invalid {
    margin-bottom: 0 !important;
    border: 1px solid #ea868f !important;
    border-radius: 2.375rem; /*0.375rem same as Bootstrap .rounded */
    color: #ea868f;
}

.daterangepicker td.today {
    background-color: transparent !important;
    border-color: transparent !important;
    color: inherit !important;
    font-weight: normal !important;
}





